@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?8cl0sm');
  src:  url('icomoon.eot?8cl0sm#iefix') format('embedded-opentype'),
    url('icomoon.ttf?8cl0sm') format('truetype'),
    url('icomoon.woff?8cl0sm') format('woff'),
    url('icomoon.svg?8cl0sm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e900";
}
