.result-item {
  display: inline-block;
  font-size: 75%;
  padding: 5px;
  background-color: #5c85d6;
  color: #fff;
  border-radius: 8px;
  margin-right: 3px;
  margin-bottom: 3px;
}

.result-text {
  margin: 0;
}